/* skeleton */
.search-nk-skeleton-animation {
    margin: 0;
    padding: 0;
    list-style: none;
    li{
        width: 100%;
        height: 16px;
        margin-top: 15px;
        border-radius: 2px;
        background: linear-gradient(90deg, rgba(190, 190, 190, 0.2) 25%, rgba(129, 129, 129, 0.24) 37%, rgba(190, 190, 190, 0.2) 63%);
        background-size: 400% 100%;
        list-style: none;
        animation: wphb-skeleton-loading 1.4s ease infinite;
    }
}

@keyframes wphb-skeleton-loading {
    0% {
      background-position: 100% 50%;
    }
    to {
      background-position: 0 50%;
    }
}
/* end skeleton */


/* search form */
.main-content{
  &.page-search-tour{
    &.cpt-tour{
      .search-left{
        margin-top: 15px;
      }
      .result-count{
        margin-top: 5px;
        margin-bottom: 20px;
      }
      ul.tien-nghi {
        display: none !important;
      }
    }
    padding: 40px 0;
    .search-left{
      box-shadow: 0px 0px 6px #80808036;
      padding-top: 20px;
      padding-bottom: 20px;
      .search-group{
        padding-bottom: 20px;
        border-bottom: 1px solid #80808024;
        margin-bottom: 20px;
      }
      .search-by-hotel-name{
        .search-group{
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          input{
            width: 80%;
            margin-bottom: 0;
          }
          button{
            width: 20%;
            margin: 0;
            background-color: #f7901e;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .search-by-hotel-ranking{
        .icon-star{
          color:#ffa11a;
          margin-right: 5px;
          font-size: 16px;
        }
      }
      #slider-range {
        background-color: #f9f5f5;
        border: 1px solid #f7901e;
        height: 6px;
      }
      .ui-slider-horizontal .ui-slider-range { background-color: #f7901e; }

      .ui-state-hover,
      .ui-widget-content .ui-state-hover,
      .ui-widget-header .ui-state-hover, 
      .ui-state-active, .ui-widget-content .ui-state-active, 
      .ui-state-focus, .ui-widget-content .ui-state-focus, 
      .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus { 
        background: #fff!important;
        border: 1px solid #cccccc!important;
      }
      
      .ui-slider .ui-slider-handle {  
        height: 16px;
        width: 16px;
        border-radius: 100%;
        background: #f7901e;
        border: unset;
        top: -6px;
      }
      
      #range-slider {
        position: relative;
        z-index: 0;
      }
    }
    .search-right{
      .filter-form{
        margin: 20px 0;
        padding-bottom: 0;
        .form-search-key{
          padding-bottom: 0;
          .item{
            position: relative;
            i{
              position: absolute;
              width: 30px;
              height: 100%;
              top:0;
              left: 0;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            input#form-search-key{
              padding-left: 30px;
              margin-bottom: 0;
            }
            // .tt-menu{
            //   position: absolute;
            //   top: 45px;
            //   left: 0;
            //   width: 100%;
            //   max-height: 300px;
            //   overflow-y: scroll;
            //   z-index: 1;
            //   background: white;
            //   box-shadow: 0 0 6px 0;
            //   padding: 20px;
            //   min-height: 200px;
            // }
          }
        }
        .form-search-room-count{
          .col{
            padding-bottom: 0;
            select{
              margin-bottom: 0;
            }
          }
        }
        .form-button{
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          button.submit-search-room{
            border: none;
            background: #f7901e;
            color: white;
            text-transform: uppercase;
            border-radius: 50px;
            font-size: 14px;
            width: 100%;
            margin: 0;
            padding: 0;
            height: 39px;
          }
        }
        
      }
      .result-count{
        font-size: 20px;
        font-weight: bold;
        color: #4d88c1;
      }
      .rooms-pagination{
        ul.page-numbers{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          list-style: none;
          li{
            margin: 0 5px;
            span.current{
              background-color: #f7901e;
              color: white;
              border-radius: 50%;
              width: 30px;
              height: 30px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            a{
              display: flex;
              align-items: center;
              justify-content: center;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              border: 1px solid #80808024;
              color: #808080;
              font-size: 14px;
              font-weight: 500;
              line-height: 1.6875em;
              text-align: center;
              text-transform: uppercase;
              &:hover{
                background-color: #f7901e;
                color: white;
              }
              &.current{
                background-color: #f7901e;
                color: white;
              }
              &.next{
                display: none;
              }
              &.prev{
                display: none;
              }
            }
          }
        }
      }
    }
    ul.list-tour-search{
      li.tour-item{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        padding-bottom: 30px;
        border-bottom: 2px solid #80808024;
        margin-bottom: 30px;
        .left-tour-item{
          width: 47%;
          img{
            width: 100%;
          }
        }
        .right-tour-item{
          width: 50%;
          .title-tour{
            font-size: 20px;
            a{
              color:#000;
            }
          }
          .rating{
            margin: 5px 0;
            color: #f7901e;
          }
          p.dia-chi{
            font-size: 14px;
            font-style: italic;
            opacity: 0.8;
            line-height: 20px;
            text-decoration: underline;
            color: #85817d;
            i{
              display: inline-block;
              margin-right: 5px;
            }
          }
          .price-tour{
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            margin-top: 26px;
            padding-top: 25px;
            border-top: dashed 1px #80808073;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            .price-left{
              font-weight: normal;
              font-size: 16px;
              span{
                color: #f7901e;
                font-size: 20px;
                font-weight: bold;
              }
            }
          
            .price-right{
              a{
                display: block;
                background: #ffa11a;
                color: white;
                padding: 8px 12px;
                border-radius: 50px;
              }
            }
          }
          ul.tien-nghi{
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            margin: 10px 0;
            li{
              padding-right: 10px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
} 


// single hotel
.block-detail-hotel-content{
  padding: 40px 0;
  width: 100%;
  .detail-hotel-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:20px 0;
    @media screen and (max-width: 425px) {
      flex-direction: column;
    }
    .left-title{
      width: 70%;
      .title-hotel {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        h3{
          margin-bottom: 0px;
        }
        span.hotel_rate{
          i.icon-star{
            color: #F7901F;
          }
        }
      }
      .address-hotel{
        margin-top: 5px;
        margin-bottom: 20px;
        i{
          display:inline-block;
          margin-right:5px;
          font-size:20px;
        }
      }
    }
    .right-title{
      width: 30%;
      @media screen and (max-width: 425px) {
        width: 100%;
      }
      p{
        margin-bottom: 0;
      }
      .price-hotel{
        color: #f7901e;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 8px;
        .price-text{
          font-size: 15px;
        }
      }
      .btn-book-hotel{
        a{
          display: block;
          background: #f7901e;
          border: 0;
          outline: 0;
          border-radius: 5px;
          text-transform: uppercase;
          line-height: 40px;
          width: 100%;
          color: #fff;
          text-align: center;
          font-weight: bold;
        }
       
      }
    }
  }
  .detail-hotel-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    .wrapper-left{
      width: 75%;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
      .block-hotel-policy{
        position: relative;
        width: 100%;
        margin-top: 30px;
        .block-hotel-policy-title{
          position: relative;
          width: 100%;
          margin-bottom: 30px;
          h2{
            display: inline-block;
            font-size: 15px;
            line-height: 18px;
            padding-bottom: 3px;
            text-transform: uppercase;
            margin: 0px;
            border-bottom: solid 2px rgba(51, 51, 51, 0.5);
          }
        }
        .block-hotel-policy-list{
          ul{
            list-style: none;
            padding-left: 0px;
            margin-bottom: 0px;
            li{
              position: relative;
              width: 100%;
              display: flex;
              align-items: flex-start;
              padding: 23px 0 0;
              padding-bottom: 12px;
              border-bottom: solid thin #dddddd;
              &:last-child{
                border-bottom: 0px;
              }
              span{
                flex: 0 0 30%;
              }
            }
          }
        }
      }
    }
    .wrapper-right{
      width: 22%;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
      .block-detail-vi-tri{
        .content-vi-tri{
          iframe{
            width: 100%;
            height: 250px;
          }
        }
      }
      .hotel-introduce{
        margin-top: 30px;
        position: relative;
        width: 100%;
        margin-bottom: 30px;
        box-shadow: 0px 0px 4px rgb(0 0 0 / 15%);
        .hotel-introduce-title{
          position: relative;
          width: 100%;
          padding: 15px 10px 12px;
          display: flex;
          align-items: flex-start;
          border-bottom: solid thin #dddddd;
          i{
            display: inline-block;
            margin-right: 5px;
          }
          h3{
            font-size: 15px;
            text-transform: uppercase;
            line-height: 18px;
          }
        }
        .hotel-introduce-text{
          display: block;
          padding: 15px 14px 31px;
          text-align: justify;
          line-height: 24px;
          font-size: 15px;
          font-weight: normal;
        }
      }
      .hotel-utilities{
        position: relative;
        width: 100%;
        margin-bottom: 30px;
        box-shadow: 0px 0px 4px rgb(0 0 0 / 15%);
        margin-top: 30px;
        .hotel-utilities-title{
          position: relative;
          width: 100%;
          padding: 15px 10px 12px;
          display: flex;
          align-items: flex-start;
          border-bottom: solid thin #dddddd;
          span{
            font-size: 15px;
            line-height: 18px;
            text-transform: uppercase;
            font-weight: bold;
          }
        }
        ul{
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          padding: 15px 0;
          justify-content: space-between;
          li{
            width: 100%;
            padding-left: 20px;
          }
        }
      }
    }
  }
  ul.tien-nghi{
    list-style: none;
    display: flex;
    justify-content: space-between;
    li{
      width: 30%;
    }
  }
}


// single hotel

.block-detail-hotel-content{
  .block-hotel-list-room{
    .table-room{
      overflow-x: scroll;
      table{
        thead{
          th{
            border-bottom-width: 0px;
            vertical-align: middle;
            font-size: 14px;
            line-height: 18px;
            padding: 5px 10px;
            color: #11224d;
            background-color: #e6e7ea;
          }
        }
        tbody{
          td{
            min-width: 150px;
            vertical-align:top;
          }
          .hotel-room{
            position: relative;
            width: 100%;
            padding: 16px 0 25px;
            background-color: #fafafa;
            .hotel-room-content{
              .hotel-room-name{
                position: relative;
                width: 100%;
                margin-bottom: 14px;
                padding-left: 12px;
                color: #11224d;
                h3.heading-tertiary{
                  font-size: 17px;
                  line-height: 20px;
                  margin: 0px;
                  color: inherit;
                }
              }
              .hotel-room-image{
                position: relative;
                width: 100%;
                overflow: hidden;
                margin-bottom: 15px;
                img{
                  display: block;
                  width: 100%;
                }
              }
              .hotel-room-description{
                position: relative;
                width: 100%;
                padding-left: 12px;
                ul{
                  list-style: none;
                  padding-left: 0px;
                  margin: 0px;
                  li{
                    position: relative;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    
                    i{
                      display: inline-block;
                      margin-right: 5px;
                      color: #f7901e;
                    }
                  }
                }
              }
            }
          }
          .hotel-room-offers{
            position: relative;
            width: 100%;
            padding: 17px 15px 0px;
            max-width: 220px;
            text-align: justify;
            ul{
              list-style: none;
              padding-left: 0px;
              margin-bottom: 0px;
              li{
                position: relative;
                width: 100%;
                display: flex;
                align-items: flex-start;
                span{
                  line-height: 16px;
                  color: #11224d;
                  text-align: left;
                }
                i{
                  display: inline-block;
                  margin-right: 10px;
                  color: #f7901e;
                }
              }
            }
          }
          .hotel-room-number{
            position: relative;
            width: 100%;
            padding: 11px 12px 0;
            .number-room{
              position: relative;
              width: 102px;
              height: 30px;
              padding: 0 8px;
              margin-bottom: 15px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              border: 1px solid rgb(0 0 0 / 5%);
              span{
                color:#f7901e;
                padding: 5px;
                &.minus{
                  font-size: 12px;
                  cursor: pointer;
                }
                &.plus{
                  font-size: 12px;
                  cursor: pointer;
                }
              }
              input{
                position: relative;
                width: 50%;
                font-size: 14px;
                line-height: 16px;
                color: #f7901e;
                border-color: rgb(0 0 0 / 5%);
                outline: none;
                box-shadow: unset;
                padding: 0px;
                text-align: center;
                height: 30px;
              }
            }
            .room-max-people{
              font-weight: bold;
              font-size: 16px;
            }
          }
          .hotel-room-price{
            position: relative;
            width: 100%;
            padding: 10px 5px;
            span{
              font-weight: bold;
              color: #f7901e;
            }
          }
          .hotel-room-booking{
            position: sticky;
            top: 50%;
            width: 100%;
            padding: 13px 10px;
            @media screen and (max-width: 425px) {
              position: fixed;
              bottom: 0;
              left: 0;
              right: 0;
              top: auto;
              padding: 0;
              z-index: 1;
            }
            a.btn-booking-hotel{
              line-height: 16px;
              padding: 8px 11px;
              border-radius: 15px;
              text-align: center;
              &.btn-oranges{
                display: block;
                background-color: #f7901e;
                color: white;
                white-space: nowrap;
                @media screen and (max-width: 425px) {
                  display: block;
                  background: #f7901e;
                  border: 0;
                  outline: 0;
                  border-radius: 0;
                  text-transform: uppercase;
                  line-height: 40px;
                  font-size: 16px;
                  width: 100%;
                  color: #fff;
                  text-align: center;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }
  }
  .hotel-img{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: dense;
    grid-gap: 5px;
    max-height: 420px;
    .hotel-img-item{
      overflow: hidden;
      position: relative;
      img {
        object-fit: cover;
      }
      &:nth-child(1){
        grid-column: 1 / span 3;
        grid-row: span 2;
        @media screen and (max-width: 425px) {
          grid-column: 1/span 4;
        }
        img{
          height: 100%;
          width: 100%;
        }
      }
      &:nth-child(2){
        grid-column: 4 / span 2;
        grid-row: 1 / 2;
        @media screen and (max-width: 425px) {
          grid-column: 1/span 2;
          grid-row: span 1;
        }
      }
      &:nth-child(3){
        img{
          width: 100%;
          height: 100%;
        }
      }
      &:nth-child(4){
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

// page hotel cart

.page-full-header{
  &.book-hotel{
    background: #fff;
    min-height: 95px;
    .box-logo{
      padding-top: 25px;
      a{
        img{
          height: 50px;
        }
      }
    }
    .box-step{
      ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: grid;
        grid-template-columns: 20% auto 20%;
        li{
          display: inline-block;
          vertical-align: top;
          font-size: 14px;
          color: #9aa2b2;
          padding: 15px 0%;
          text-align: center;
          span{
            display: block;
            font-size: 20px;
            width: 40px;
            border-radius: 100%;
            margin: auto;
            height: 40px;
            line-height: 36px;
            border: 2px solid #9aa2b2;
            margin-bottom: 5px;
          }
          &.active{
            color: #03A1FE;
            span{
              background: #00a1fe;
              color: #fff;
              border: 2px solid #00a1fe;
            }
          }
        }
      }
    }
  }
}
.page-box-content{
  &.page-hotel{
    background: #f4f4f4;
    margin-top: 0px;
    padding: 30px 0;
    margin-bottom: 100px;
    h3{
      color: #15284a;
      font-size: 20px;
      margin: 0px;
      margin-bottom: 20px;
    }
    .box-content{
      background: #fff;
      border-radius: 5px;
      border: solid 1px #dee3ed;
      padding: 10px 0px;
      form#form-hotel-create-booking{
        margin-top: 20px;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        .input-item{
          margin-bottom: 10px;
          label{
            font-size: 15px;
            color: #15284a;
            font-weight: normal;
            margin: 0px;
            margin-bottom: 10px;
            span{
              color: #f90404;
            }
          }
          input{
            border-radius: 5px;
            font-size: 15px;
            color: #191919;
            border: solid 1px #dee3ed;
            height: 50px;
          }
          &.box-full-services-extra{
            background-color: #f9f9fa;
            label{
              font-size: 15px;
              color: #15284a;
              font-weight: bold;
              margin: 0px;
              margin-bottom: 10px;
            }
            .box-services-extra{
              .note{
                font-size: 14px;
                color: #333333;
              }
              .box-services-extra-inner{
                margin-top: 20px;
                .box-item{
                  margin: 10px 0px;
                  margin-bottom: 20px;
                  &.type-radio{
                    width: 100%;
                    display: grid;
                    grid-template-columns: 50% auto;
                  }
                }
                label{
                  margin: 0px;
                  color: #333333;
                  font-size: 15px;
                  cursor: pointer;
                  display: block;
                  user-select: none;
                }
                input[type="radio"]{
                  position: relative;
                  cursor: pointer;
                  height: auto;
                  &:before{
                    content: "";
                    display: block;
                    position: absolute;
                    width: 21px;
                    height: 21px;
                    top: -3px;
                    left: 0;
                    border: 2px solid #a9a9a9;
                    border-radius: 100%;
                    background-color: white;
                  }
                }
              }
            }
          }
        }
        .hotel-box-note{
          .box-title{
            font-size: 15px;
            color: #085ae8;
            user-select: none;
            margin-bottom: 20px;
            cursor: pointer;
            i{
              font-size: 22px;
              margin-right: 5px;
            }
          }
        }
        .box-submit{
          button.btn-submit-contact-booking{
            background: #f04a22;
            font-size: 14px;
            line-height: 40px;
            text-transform: uppercase;
            min-width: 40%;
            border-radius: 4px;
            outline: 0;
            color: #fff;
            margin: auto;
            border: 0px;
            display: block;
          }
        }
      }
    }
    .help-block{
      display: block;
      margin-top: 5px;
      margin-bottom: 10px;
      color: #737373;
    }
  }
}
.hotel-page-sidebar{
  .box-summary{
    width: 100%;
    min-height: 100px;
    border-radius: 5px;
    border: solid 1px #eff3fe;
    background-color: #ffffff;
    .summary-main{
      padding: 20px;
      font-size: 16px;
      color: #15284a;
      margin-bottom: 0px;
      padding-bottom: 15px;
      display: grid;
      grid-template-columns: 100px auto;
      .box-img{
        width: 100%;
        height: 80px;
        overflow: hidden;
        img{
          width: 100%;
          border-radius: 5px;
        }
      }
      .box-title{
        padding-left: 15px;
        h3{
          font-size: 15px;
          color: #15284a;
          font-weight: normal;
          line-height: 22px;
          margin: 0px;
          margin-bottom: 10px;
        }
        .description{
          font-size: 13px;
          color: #333333;
          display: block;
        }
      }
    }
    .summary-total{
      padding: 20px 20px;
      border-top: 1px solid #eff3fe;
      padding-top: 10px;
      padding-bottom: 10px;
      .tlb-info{
        width: 100%;
        font-size: 14px;
        color: #191919;
        tr{
          td{
            i{
              margin-right: 10px;
            }
          }
        }
        .title{
          font-size: 14px;
          color: #9aa2b2;
          &.type-tax{
            font-size: 13px;
            color: #2681ff;
          }
        }
        &.tlb-info-price{
          margin-bottom: 0;
          td{
            padding: 15px 0;
            border:none;
          }
          .info-right{
            text-align: right;
            font-weight: bold;
            &.type-tax{
              font-size: 13px;
              color: #2681ff;
              text-transform: uppercase;
            }
          }
          tr.tr-total{
            border-top: 1px solid #f0f2f5;
            .title{
              font-size: 14px;
              color: #191919;
            }
            .info-right{
              font-size: 16px;
              color: #ff9000;
            }
          }
        }
      }
    }
  }
  .icon-vnbk{
    background-image: url(https://data.vietnambooking.com/common/ui_icon/ui_icon_vnbk.svg);
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    &.icon-passenger-528-96{
      background-position: -528px -96px;
    }
    &.icon-phone-96-48{
      background-position: -96px -48px;
    }
  }
  .box-hotline{
    border-radius: 3px;
    background-color: #f0f2f5;
    line-height: 37px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
    i{
      color: #9aa2b2;
      padding-right: 10px;
      font-size: 16px;
      margin-right: 10px;
    }
  }
}

// end page hotel cart


//page single tour
.frontpage-box-tabs-form{
  background: #f8f8f8;
  width: 100%;
  padding: 30px;
  display: block;
  margin:40px 0;
  .box-title{
    font-size: 20px;
    color: #1dacfe;
    background-color: #f6f9ff;
    text-align: left;
    margin-bottom: 15px;
  }
  .box-search-tour{
    display: block;
    vertical-align: top;
    position: relative;
    label{
      font-size: 18px;
      color: #434343;
      font-weight: normal;
      display: inline-block;
      margin-bottom: 5px;
      max-width: 100%;
    }
    .input-search{
      position: relative;
      i{
        position: absolute;
        width: 40px;
        height: 25px;
        top: 8px;
        left: 5px;
        border-right: 1px solid #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      input{
        margin-bottom:0;
        padding-left:50px;
      }
    }
    .box-button-tour{
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
      margin-bottom: 20px;
      a{
        width: 180px;
        border: 0px;
        box-shadow: none;
        color: #fff;
        line-height: 40px;
        position: relative;
        background: #f98e04;
        font-size: 18px;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        border-radius: 5px;
        margin-top: 20px;
        font-weight: bold;
      }
    }
  }
}
.single-box-content{
  .single-box-content-inner{
    h1.title-tour{
      font-size: 25px;
      color: #e50131;
      border-bottom: 0px;
      margin-bottom: 13px;
      min-height: 65px;
    }
    .single-content{
      .gallery-tour{
        img{
          max-height: 400px;
          width: 100%;
        }
      }
      .box-tlb-tour{
        margin: auto;
        margin-bottom: 50px;
        table.tlb-info-tour{
          td{
            font-size: 16px;
            color: #1e1e1e;
            padding: 10px 0px;
            border:none;
            &:last-child{
              text-align: right;
            }
            &.depart_time{
              text-align: left;
            }
            i{
              display: inline-block;
              margin-right: 5px;
            }
            span.title-tour{
              color: #0066d9;
              font-size: 16px;
              text-transform: uppercase;
            }
            span.id-tour{
              color: #e50131;
              font-size: 16px;
              text-transform: uppercase;
              font-weight: bold;
            }
          }
        }
      }
      #tour-product{
        .panel-heading{
          padding: 10px;
          background: #0066d9;
          box-shadow: 0px 0px 1px #ccc;
          border-radius: 5px;
          margin-bottom: 15px;
          h4.panel-title{
            margin-top: 0;
            margin-bottom: 0;
            font-size: 16px;
            color: inherit;
            a{
              display: block;
              font-size: 18px;
              color: #fff;
              text-transform: uppercase;
              i{
                float:right
              }
            }
          }
        }
        .panel-content{
          padding: 20px;
          display: none;
          &.active{
            display: block;
          }
        }
      }
      .box-tour-product-relative{
        width: 100%;
        h4{
          color: #0066d9;
          font-size: 17px;
          padding-left: 10px;
          border-left: 2px solid #0066d9;
          }             
        ul{
          li{
            list-style: none;
            display: inline-block;
            margin-bottom: 10px;
            border-bottom: 1px dashed #ccc;
            padding-bottom: 15px;
            a{
              text-decoration: none;
              .box-img{
                width: 150px;
                display: inline-block;
                vertical-align: top;
                img{
                  width: 100%;
                }
              }
              .box-content{
                display: inline-block;
                vertical-align: top;
                width: 450px;
                padding: 10px;
                padding-top: 0px;
                .title-h4{
                  font-size: 15px;
                  color: #000;
                  margin: 0px;
                  margin-bottom: 5px;
                }
                .box-price{
                  color: #000;
                  font-size: 14px;
                  span{
                    font-size:20px;
                    color:#011e41;
                    font-weight: bold;
                  }
                }
                .box-date-start{
                  color: #000;
                  font-size: 14px;
                  margin-top: 5px;
                }
              }
            }
          }
        }
      }
      .box-posts-relation{
        h4{
          margin-top:40px;
          color: #0066d9;
          font-size: 17px;
          padding-left: 10px;
          border-left: 2px solid #0066d9;
        }
        ul{
          list-style:none;
          li{
            a{
              font-size: 15px;
              color: #3a526c;
            }
          }
        }
      }
    }
  }
}

//sidebar tour
.box-form-price-tour{
  background: #011e41;
  min-height: 275px;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 77px;
  color: #fff;
  font-size: 14px;
    
  table.tlb-box-price-tour{
    color: white;
    tr{
      td{
        padding: 7px 0px;
        vertical-align: middle;
        border: none;
        label{
          text-transform: uppercase;
          color: white;
          font-size: 13px;
          font-weight: bold;
        }
        
      }
    }
    .price-tour{
      font-size: 35px;
      color: #ffc600;
      font-weight: bold;
      .title-price-old{
        font-size: 16px;
        color: #fec32d;
      }
      span{
        font-size: 20px;
        font-weight: normal;
      }
    }
  }
  button.btn-submit-set-tour{
    background: #ffc600;
    border: 0px;
    box-shadow: none;
    color: #3a2727;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    line-height: 40px;
    width: 100%;
    margin-top: 15px;
    outline: 0;
  }
}
.sidebar-box-item{
  h3{
    font-size: 18px;
    background: #0066d9;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fff;
    line-height: 1.3;
    text-align: center;
    padding: 10px 0px;
  }
  .sidebar-box-content{
    padding: 15px;
    border: 1px solid #e6e6e6;
    font-size: 14px;
    color: #565656;
    margin-bottom: 20px;
    label{
      color: #1e2325;
      font-weight: normal;
      font-size: 15px;
      display: block;
    }
    &.sidebar-hotline{
      a{
        font-size: 22px;
        color: #0066d9;
        text-decoration: none;
      }
      .span-note{
        margin-top: 10px;
        display: block;
      }
    }
  }
}

//end single tour

//mix search
.mix-search {
  position: relative;
  z-index: 5;
  background: #fff;
  box-shadow: 0 3px 17px 0 rgb(215 220 230 / 72%);
  border-radius: 8px;

  &__header {
    display: flex;
    background: #f6f9ff;
    padding: 20px;

    @media screen and (max-width: 768px){
      flex-direction: column;
    }
  }

  &__content {
    background: white;
    padding: 20px;

    .tab-content {
      display: none;
    }
    .tab-content.active {
      display: block;
    }
    .hotel  {
      .title {
        font-size: 18px;
        color: #15284a;
        margin: 0;
      }

      .form-content {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(3 , 1fr);

        @media screen and (max-width: 768px) {
          grid-template-columns: 1fr;
        }

        .hotel-btn-submit {
          box-sizing: border-box;
          height: 40px;
          background-color: #ff5e1f;
          border: 0;
          outline: 0;
          font-size: 14px;
          text-transform: uppercase;
          color: #ffffff;
          border-radius: 5px;
          width: 100%;
        }
      }
    }
    .flight {

    }
    .tour {

    }
  }
  &__title {
    width: 50%;
    font-size: 19px;
    color: #15284a;
    margin-top: 40px;
    font-weight: bold;

    @media screen and (max-width: 768px){
      text-align: center;
      width: 100%;
      margin-bottom: 30px;
    }
  }
  &__tab-panels {
    width: 50%;
    @media screen and (max-width: 768px){
      width: 100%;
    }
  }
  &__tab-panels ul {
    display: flex;
    list-style: none;
    margin-bottom: 0;
    @media screen and (max-width: 768px){
      justify-content: center;
    }
  }
  &__tab-panels li a {
    display: flex;
    width: 90px;
    height: 90px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    font-size: 12px;
    border: 2px solid #c7d6f5;
    border-radius: 5px;
    transition: all .3s ease;
    color: #15284a;
    text-decoration: none;
    font-weight: bold;
  }
  &__tab-panels li:hover a, &__tab-panels li.active a {
    border: 2px solid #00a1fe;
    white-space: nowrap;
  }

  .sub-location-search {
    display: none;
    position: absolute;
    z-index: 1;
    width: min(600px, 100%);
    padding: 20px;
    margin-top: 1px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 30px -2px rgba(0, 0, 0, 0.4),
    0 0 3px -1px rgba(0, 0, 0, 0.6);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

    .hotel-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
      }
      @media screen and (max-width: 425px) {
        grid-template-columns: 1fr;
      }

      span:hover {
        color: #00a1fe;
      }
    }
  }

  .sub-people-select {
    display: none;
    position: absolute;
    z-index: 1;
    padding: 20px;
    margin-top: 1px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 30px -2px rgba(0, 0, 0, 0.4),
    0 0 3px -1px rgba(0, 0, 0, 0.6);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

    &__item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }

    .count-total {
      display: flex;
      align-items: center;
      gap: 15px;

      button {
        cursor: pointer;
        color: #2f6bff;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        border: 1px solid #d1d1d1;
        border-radius: 100%;
        height: 30px;
        padding: 0;
        width: 30px;
        line-height: 0;
        font-weight: bold;
        min-height: 20px;
        margin: 0;
      }
    }
  }
}


// form
.form-input {
  position: relative;


  &.location:before {
    font-family: "FontAwesome";
    position: absolute;
    content: "\f041";
    top: 7px;
    left: 13px;
  }

  &.duration:before {
    font-family: "FontAwesome";
    position: absolute;
    content: "\f073";
    top: 7px;
    left: 13px;
  }

  &.people:before {
    font-family: "FontAwesome";
    position: absolute;
    content: "\f007";
    top: 7px;
    left: 13px;
  }
}
.form-input input[type="text"], .form-input input[type="datetime-local"], .form-input input[type="date"], .form-input input[type="daterange"] {
  height: 40px;
  outline: 0;
  box-shadow: none;
  font-size: 14px;
  color: #191919;
  border: 1px solid #cad2de;
  text-align: left;
  display: block;
  width: 100%;
  max-width: 100%;
  border-radius: 5px !important;
  padding: 0 20px 0 30px !important;
}

// common
.m_b_0px {
  margin-bottom: 0 !important;
}
.m_b_10px {
  margin-bottom: 10px !important;
}
.m_b_20px {
  margin-bottom: 20px !important;
}
.m_b_30px {
  margin-bottom: 30px !important;
}
.m_b_40px {
  margin-bottom: 40px !important;
}
.m_r_0px {
  margin-bottom: 0 !important;
}
.m_r_5px {
  margin-bottom: 5px !important;
}
.m_r_10px {
  margin-bottom: 10px !important;
}
.m_r_20px {
  margin-bottom: 20px !important;
}
.m_r_30px {
  margin-bottom: 30px !important;
}
.m_r_40px {
  margin-bottom: 40px !important;
}
.m_l_0px {
  margin-bottom: 0 !important;
}
.m_l_5px {
  margin-bottom: 5px !important;
}
.m_l_10px {
  margin-bottom: 10px !important;
}
.m_l_20px {
  margin-bottom: 20px !important;
}
.m_l_30px {
  margin-bottom: 30px !important;
}
.m_l_40px {
  margin-bottom: 40px !important;
}

.relative {
  position: relative !important;
}

.d-flex {
  display: flex;
}
.justify-end {
  justify-content: flex-end;
}
.z-0 {
  z-index: 0 !important;
}
.z-1 {
  z-index: 1 !important;
}
.pointer {
  cursor: pointer !important;
}
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.bold {
  font-weight: bold;
}

// fix
.ui-widget-header {
  background: white;
}
.ui-widget.ui-widget-content {
  border: none;
}
.ui-tabs .ui-tabs-nav {
  border-top: 0;
  border-right: 0;
  border-left: 0;
}


// page book tour
.book-box-container {
  &.book-tour{
    width: 100%;
    background: #fff;
    padding: 20px 0px;
    h2.title-book-tour{
      color: #000000;
      font-weight: normal;
      margin-top: 0px;
      font-size: 28px;
      border-bottom: 3px solid #ed1c24;
      display: inline;
      padding-bottom: 5px;
      margin-top: 10px;
    }
    table.tlb-contact-payment-tour{
      tr{
        td{
          label{
            font-weight: bold;
            color: #011e41;
            display: inline-block;
            max-width: 100%;
            margin-bottom: 5px;
            span.red{
              color: red;
              display:inline-block;
              margin-left: 5px;
            }
          }
          input{
            border-radius: 4px;
          }
        }
      }
      .box-change-type-payment{
        margin-top: 30px;
      }
      .box-van-phong{
        &.box-payment{
          table.tlb-payment-office-default{
            margin-top: 20px;
            tr{
              td{
                border:none;
                color: #000000;
                font-size: 12px;
                border-top: 0px;
                padding: 8px;
                line-height: 1.42857143;
                vertical-align: top;
                &:first-child{
                  width: 130px;
                }
                .box-title{
                  font-size: 12px;
                  font-weight: bold;
                  color: #037dfa;
                  text-transform: uppercase;
                  a{
                    text-decoration: none;
                    color: #000;
                  }
                }
              }
            }
          }
        }
      }
      .ensure-security-for-customer{
        font-size: 15px;
        color: #a3a3a3;
        margin-top: 15px;
      }
      .box-submit-form-set-tour{
        margin-top: 10px;
        .btn-submit-form-set-tour{
          font-size: 15px;
          color: #ffffff;
          text-transform: uppercase;
          width: 200px;
          text-align: center;
          line-height: 35px;
          outline: 0;
          background: #ed1c24;
          border: 0px;
           border-radius: 5px;
        }
      }
    }
    .box-img-feature{
      &.payment-tour{
        img{
          width: 100%;
          max-height: 250px;
          object-fit: cover;
        }

      }
    }
    .box-info-tour{
      color: #808a9b;
      font-size: 15px;
      min-height: 195px;
      background: #011e41;
      width: 100%;
      padding: 15px;
      .code-tour{
        font-size: 16px;
        color: #ffc600;
        a{
          font-size: 16px;
          color: #fff;
        }
      }
      table{
        width: 100%;
        tr{
          td{
            padding: 5px 0;
            border: none;
            color: #bcbcbc;
            i{
              display: inline-block;
              margin-right: 5px;
            }
          }
        }
      }
    }
    .box-price-tour{
      background: #ffc600;
      line-height: 37px;
      width: 100%;
      color: #011e41;
      text-align: center;
      .box-item{
        display: grid;
        grid-template-columns: auto auto;
        span{
          &:first-child{
            font-size: 16px;
            text-align: left;
            padding-left: 15px;
          }
          &:last-child{
            font-size: 16px;
            text-align: right;
            padding-right: 15px;
          }
        }
      }
    }
    .box-guide-payment-tour{
      padding: 15px;
      background: #eef0f4;
      font-size: 15px;
      color: #011e41;
      margin-top: 20px;
      span{
        color: #011e41;
        font-size: 20px;
      }
    }
  }
  .alert-warning{
    background-color: #fff3cd;
  }
}

// end book tour